{% extends 'dummy_base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<h1> About Page </h1>
<div style="display:flex;align-items:center;gap:20px;">
    <img src="/media/products/download (14).jpg" width="300">

    <p style="font-size:30px;">
        E-commerce involves buying/selling online, offering benefits like convenience,
        wider reach, and lower costs, with key areas including transaction processing, marketing, customer service,
        and logistics, operating across models like B2B, B2C, C2C. For a simplified five-point overview,
        focus on: Convenience & Reach, Cost Efficiency, Product/Price Comparison, Digital Transactions,
        and Data & Personalization,
        highlighting its global, 24/7 nature and data-driven advantages.
    </p>
    </div>
<br>
<br>

    <div style="display:flex;align-items:center;gap:20px;">
    <img src="/media/products/Miniature Pool in a Phone _ Surreal Summer _ Glossy Art ☀️.jpg" width="300">
    <p style="font-size:30px;">
        Key Features and Functions:<br>
        Product Display: Showcases items with images, videos, and detailed descriptions.<br>
        Shopping Cart & Checkout: Allows users to collect items and securely complete purchases.<br>
        Payment Gateways: Integrates various digital payment methods (credit cards, digital wallets).<br>
        Inventory Management: Helps businesses track stock levels.<br>
        Customer Accounts: Enables users to manage orders and personal information.<br>
        Search & Navigation: Tools for customers to find products easily.<br>
    </p>
         </div>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1 style="color:brown;"> This is a About Page </h1>
<h2 style="color:green;"> My Name is  {{Name}} </h2>
<h2 style="color:green;"> My Age is {{Age}} </h2>
<h2 style="color:green;"> My Place is {{Place}} </h2>
</body>
</html>