{% extends 'dummy_base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<h1> Welcome to E-Commerce Home </h1>
<div style="display:flex;align-items:center;gap:20px;">
    <img src="/media/products/E-Commerce Growth Strategies For Building Online Business _.jpg" width="300">

    <p style="font-size:30px;">
        E-Commerce is the online buying and selling of products or services over the internet,
        using websites or apps instead of a physical store, allowing you to shop from anywhere, anytime.
        It's basically doing business electronically, from purchasing books on Amazon,
        selling handmade crafts on Etsy, to booking hotels online,
        all facilitated by digital platforms and electronic payments.
    </p>
    </div>
<br>
<br>

    <div style="display:flex;align-items:center;gap:20px;">
    <img src="/media/products/download (13).jpg" width="300">
    <p style="font-size:30px;">
        An E-Commerce website is an online platform that functions as a digital storefront,
        enabling businesses to sell products or services directly to customers over the internet,
        featuring functionalities like product browsing, secure payment processing, and order management,
        making it a virtual hub for electronic Commerce. It allows for transactions of physical goods,
        digital products, and services, extending a business's reach globally without needing a physical location.

    </p>
         </div>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 style="border: 2px solid red;"> Welcome E-commerce Shop </h1>
</body>
</html>